<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xmd.technician">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".TechApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DEF_UPDATE_SERVER"
            android:value="${DEF_UPDATE_SERVER}"/>

        <meta-data
            android:name="GETUI_MASTER_SECRET"
            android:value="${GETUI_MASTER_SECRET}" />

        <!-- umeng sdk -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY_VALUE}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <!-- end umeng sdk -->

        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="${EASEMOB_APPKEY_VALUE}" />


        <activity
            android:name=".window.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="app"
                    android:host="xmd"
                    android:path="/tech" />
            </intent-filter>
        </activity>
        <activity
            android:name=".window.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".window.TechInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.ModifyPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.TechChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.xmd.technician.action.START_CHAT"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".window.BrowserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.FeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.AppInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.WorkTimeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.ConsumeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.ServiceItemActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.ClipPictureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.ResetPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.OrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.ShowBigImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.PaidCouponDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.PaidCouponUserDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.NormalCouponDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/wx_entry_activity_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.AddFriendActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.CellphoneContactListActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".window.SysNoticeListActivity"/>
        <activity
            android:name=".window.EditContactInformation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.TechShareCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.ConfigurationMonitorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.AvailableCouponListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".window.UserCreditCenterActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity android:name=".window.CreditExchangeActivity">
            android:screenOrientation="portrait"
        </activity>
        <activity
            android:name=".window.CreditRuleExplainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.IntroduceAccountActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.DynamicDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.OrderFragmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.DynamicShareTechActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".window.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".window.CompleteRegisterInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".window.JoinClubActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".onlinepaynotify.view.OnlinePayNotifyActivity"/>
        <activity
            android:name=".window.ShareDetailListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.ShareDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.TechAccountActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".DataRefreshService"
            android:enabled="true"
            android:exported="false"/>

        <!--附近的人-->
        <activity
            android:name=".window.NearbyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.HelloRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.HelloSettingActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".model.HelloReplyService"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".window.TechPKActiveActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.TechPKRankingDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".window.TechPersonalRankingDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".window.ClubJournalChatShareActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".window.MallDiscountChatShareActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".window.MarketingChatShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".window.TechPersonalPosterActivity"
            android:label="@string/tech_poster_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".window.EditTechPosterActivity"
            android:label="@string/tech_poster_choice_poster_model"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>