<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xmd.cashier">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57fb0c71e0f55a73c90001dc" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${umengChannelName}" />

        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.VerificationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ConfirmActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PayTypeChoiceActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.BillRecordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BillDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BillSearchActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.VerifyCheckInfoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.VerifyCouponActivity"
            android:launchMode="standard" />
        <activity
            android:name=".activity.VerifyOrderActivity"
            android:launchMode="standard" />
        <activity
            android:name=".activity.VerifyPrizeActivity"
            android:launchMode="standard" />
        <activity
            android:name=".activity.VerifyCommonActivity"
            android:launchMode="standard"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.VerifyConfirmActivity"
            android:launchMode="standard" />
        <activity
            android:name=".activity.OrderRecordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.OnlinePayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CashierActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".service.CustomService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.SettleCurrentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SettleRecordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SettleDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.RecordNavigationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.VerifyRecordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.VerifyRecordDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CashPayActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.ScanPayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ScanPayResultActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask" />

        <meta-data
            android:name="GETUI_MASTER_SECRET"
            android:value="${GETUI_MASTER_SECRET}" />

        <!--           会员卡需求         -->
        <activity
            android:name=".activity.MemberNavigationActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.MemberReadActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.MemberScanActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.MemberRechargeActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.TechnicianActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.MemberRecordActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.McardPhoneActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.McardInfoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.McardSuccessActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MemberCashierActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.DiscountCouponActivity"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivity" />
        <activity
            android:name=".activity.ConfigurationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.GiftActActivity"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivity" />
        <activity
            android:name=".activity.StatisticsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.StatisticsSettingActivity"
            android:launchMode="singleTask" />

        <!-- 内网收银 -->
        <activity
            android:name=".activity.InnerSelectActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.InnerMethodActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.InnerRecordActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.InnerPaymentActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.InnerResultActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.InnerDetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivity" />
        <activity
            android:name=".activity.InnerOrderSelectActivity"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivity" />
        <activity
            android:name=".activity.InnerOrderTechActivity"
            android:launchMode="singleTask"
            android:theme="@style/DialogActivity" />
    </application>

</manifest>