<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xmd.cashier">

    <application>
        <!-- POS返回结果接收Activity -->
        <activity
            android:name=".pos.WeiposResultActivity"
            android:exported="true" />
    </application>
</manifest>